@charset "UTF-8"

:root {
    --bege:#fffde7;
    --gray: #b9b9b9;
}
*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    padding: 0px;
    margin: 0px;

}
body{
    min-height: 100vh;
    background-color: #b9b9b9;

}
header {
    background-color: black;
    text-align: center;
    color: white;
}
.principal {
    font-size: 8vw;
    color: #ffffff;
    padding-top: 50px;
    font-variant: small-caps;
}
header a, footer a {
    color: bisque;
    text-decoration: none;
    font-weight: 600;
}
a:hover {
    text-decoration: underline;
}


header h2 {
    padding-bottom: 25px;
}


h2 {
    font-size: 1rem;
}

section, article {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.6em;
    padding: 10vh;
}


.house-paralax {
    background-image: url('imagens/landscape_002.jpg');
    background-size: cover;
    background-position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: relative;
}

.land-paralax {
    background-image: url('imagens/landscape_001.jpg');
    background-size: cover;
    background-position: right bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.entry {
    background-color: rgba(0, 0, 0, 0.747);
    color: bisque;
    width: 300px;
}

.entry .p {
    
}

footer {
    background-color: black;
    text-align: center;
    padding: 10px;
}



