@charset "UTF-8"

@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

:root {
    --font1:Verdana, Geneva, Tahoma, sans-serif;
    --font2:'Gloock';
    --font3:'Rancho', Verdana, Geneva, Tahoma, sans-serif;
    --bege:#fffde7;
    --gray: #b9b9b9;
}
*{
    padding: 0px;
    margin: 0px;

}
body{
    min-height: 100vh;
    background-color: #f0f0f0;

}
header {
    background-color: black;
    text-align: center;
    color: white;
}
.principal {
    font-size: 6vw;
    color: #ffffff;
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
}
header a, footer a {
    color: bisque;
    text-decoration: none;
    font-weight: 600;
}
a:hover {
    text-decoration: underline;
}


header h2 {
    padding-bottom: 25px;
}


h2 {
    font-size: 1.5rem;
    font-family: var(--font3);
}


section, article {

    font-size: 2vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.6em;
    padding: 5vh;
    font-family: var(--font3);
}

h3 {
    font-family: var(--font2);
    font-size: 3vw;
}

.presentation {
    padding-left: 10vw;
}

.house-paralax {
    background-image: url('imagens/landscape_002.jpg');
    background-size: cover;
    background-position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: relative;
}

.land-paralax {
    background-image: url('imagens/landscape_001.jpg');
    background-size: cover;
    background-position: right bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.entry {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.747);
    color: bisque;
    margin: 5vw;
    padding: 5vw;
}

article {
    margin: 5vw;
    padding: 5vw;
}


footer {
    background-color: black;
    text-align: center;
    padding: 10px 0px;
}

footer h2 {
    color: #ffffff;
}




